#counter{
    text-align: center;
}
.box{
    height: 500px;
    background-color: grey;
}
.daylight{
    background-color: yellow;
}
body{
    background-color: black;
}
button{
    color: whitesmoke;
    background-color: brown;
    padding-left: 2%;
    height: 40px;
}